
		<ion-view view-title="帮助中心">
			<ion-nav-buttons side="left" ng-init="vm2={}">

				<button fix-history where="tab.account" ng-if="vm2.boolIf===undefined ? true : vm2.boolIf" bool-if="vm2.boolIf" class='button button-icon icon ion-android-arrow-back'></button>
			</ion-nav-buttons>
			<ion-content>
				<div class="list">
					<!--
            <a class="item item-icon-left  " ui-sref="tab.profile( {} )">
						<i class="icon ion-chatbox-working"></i> 我的消息
					</a>
				
						<a class="item item-icon-left  " ng-click="oauth.logoutAll()" ng-if=" principal.isAuthenticated() ">
						<i class="icon ion-log-out"></i> 退出登录
					</a>
                -->
					<a class="item item-icon-left  ">
						<i class="icon ion-help"></i> 常见问题
					</a>
					<span class="item item-icon-left  " ng-click="openModal('tutor.html','教程')">
						<i class="icon ion-social-yen"></i> 查看教程
					</span>
					<a class="item item-icon-left  " ng-click="openModal('mission.html','新手指南')">
						<i class="icon ion-email"></i> 新手指南
					</a>

					<a class="item item-icon-left  " ui-sref="tab.profile( {} )">
						<i class="icon ion-ios-people"></i> 关于我们
					</a>
				</div>

			</ion-content>
		</ion-view>

		<script id="tab-login.html" type="text/ng-template">
			<ion-view view-title="Login" hide-tabs="true">
				<ion-content>
					<ion-list>

					</ion-list>
				</ion-content>
			</ion-view>
		