
			<ion-view>

				<ion-nav-title>
					{{order.Title}}
				</ion-nav-title>

				<ion-nav-buttons side="left" ng-init="vm={}">

					<button fix-history where="tab.account" ng-if="vm.boolIf===undefined ? true : vm.boolIf" bool-if="vm.boolIf" class='button button-icon icon ion-android-arrow-back'></button>
				</ion-nav-buttons>

				<ion-content padding="true" style="background-color:  #EEEEEE">

					<div>
						<span>
			 	开始时间{{order.BeginTime | date:'yyyy/MM/dd  HH:mm'}}
			 	</span>
						<br />
						<span>
			 		结束时间{{order.EndTime | date:'yyyy/MM/dd  HH:mm'}}
			 	</span>
						<br />
						<span ng-if="order.TypeID===Order.typeIDcode.poor">
			 		单次点击价格{{order.Price}}
			 	</span>
						<br />
						<span>
			 		参与人数：{{order.JoinNum }}--已完成人数：{{order.OrderNum}}
			 	</span>
						<br />
						<span>  
			 			预算金额：{{order.Budget| currency:"":2 }}--参与金额：{{order.JoinAmount| currency:"":2}}--已完成金额：{{order.OrderAmount| currency:"":2}}
			 	</span>

						<br />

						<span class="balanced" ng-if="order.State===state.No" ng-repeat="state in Order.stateCode.fixArr">
    状态:{{state.Name}}
     </span>
						<br />
						<button ng-if="order.isUnpaid()" ng-click="pay(order)" class="button button-positive">
							付款
						</button>
					</div>
					<br>

					<div class="item item-divider text-left" ng-init="t1Show=false;" ng-click="t1Show=!t1Show">
						广告详情{{order.TypeID===Order.typeIDcode.rich? '(图文)' : '(链接)' }} <i class="ion" ng-class="{true: 'ion-android-arrow-dropup', false: 'ion-android-arrow-dropdown'}[t1Show]"></i>
					</div>
					<div class="fade" ng-show="t1Show">

						<span>
				分享内容:(转发以下图文链接)
			</span>
						<br />
						<p class="text share-text" data-tap-disabled="true">
							{{order.Intro}}
						</p>
						<p ng-if="order.TypeID===Order.typeIDcode.poor" class="text share-text" data-tap-disabled="true">
							{{order.LinkUrl}}
						</p>
						<br />
						<div ng-if="order.TypeID===Order.typeIDcode.rich" ng-init="files=order.AttachFiles;">

							<div class="row  " ng-repeat="i in  getArr( Math.ceil( files.length/3 ) ) track by $index">

								<div class="col col-33" ng-repeat="item in  files  | limitTo : 3 : i*3  track by $index" ng-init="k=$index">

									<div style="height: 100px;background-color: #CCC;line-height: 100px;" ng-click="bigIMG(files[k+i*3])">
										<img width="100%" height="auto" ng-src="{{files[k+i*3]}}" data-tap-disabled="true" style="max-height: 100%;vertical-align: middle;" />
									</div>

								</div>

							</div>

						</div>
					</div>
					<div ng-if="order.isNormal()&&order.TypeID===Order.typeIDcode.rich">
						<div class="item" ng-if="dshTakers.length">
							{{dshTakers.length}}个人需要审核
						</div>
						<div class="list">
							<div class="item" ng-repeat="taker in 
						(  dshTakers=( Taker.data| filter:   {TaskID:order.TaskID,State:4}      :true   ) )	  
							  track by taker.TOID">
								{{taker.TOID}}+++++++++
								<br>

								<img width="100%" ng-src="{{img}}" ng-repeat="img in taker.AttachFiles" />

								<div class="row" style="text-align: center;">
									<div class="col col-50">
										<button class="button button-block button-assertive" ng-click="Order.acceptIMG(taker)">通过</button>
									</div>
									<div class="col col-50">
										<button class="button button-block  button-assertive" ng-click="Order.rejectIMG(taker)">拒绝</button>
									</div>
								</div>

							</div>
						</div>
						<div class="item" ng-if="!dshTakers.length">
							暂无人需要审核
						</div>
					</div>

				</ion-content>

			</ion-view>
		