
			<ion-view>

				<ion-nav-title>
					{{order.Title}}
				</ion-nav-title>

				<ion-nav-buttons side="left" ng-init="vm={}">

					<button fix-history where="tab.orderList" params="{TypeID:Order.typeIDcode.rich,state:1}" ng-if="vm.boolIf===undefined ? true : vm.boolIf" bool-if="vm.boolIf" class='button button-icon icon ion-android-arrow-back'></button>
				</ion-nav-buttons>

				<ion-content padding="true" style="background-color:  #EEEEEE">

					<div>
						<span>
			 	开始时间   {{order.BeginTime | date:'yyyy/MM/dd  HH:mm'}}
			 	</span>
						<br />
						<span>
			 		结束时间  {{order.EndTime | date:'yyyy/MM/dd  HH:mm'}}
			 	</span>
						<br />
						<span ng-if="order.TypeID===Order.typeIDcode.poor">
			 		单次点击价格{{order.Price}}元
			 	</span>

						<div>

							<button ng-bind="order.isMine?'我的项目,无法接单':'接单'" ng-disabled="order.isMine" class="button button-balanced" ng-click="dealWithGo(order,true)">
							</button>
						</div>

					</div>
					<br>
					<div class="item item-divider text-left" ng-init="t1Show=true;" ng-click="t1Show=!t1Show">
						广告详情{{order.TypeID===Order.typeIDcode.rich? '(图文)' : '(链接)' }} <i class="ion" ng-class="{true: 'ion-android-arrow-dropup', false: 'ion-android-arrow-dropdown'}[t1Show]"></i>
					</div>
					<div class="fade" ng-show="t1Show">

						<br />
						<span>
				分享内容:(转发以下图文链接)
			</span>
						<br />
						<p class="text share-text" data-tap-disabled="true">
							{{order.Intro}}
						</p>
						<p ng-if="order.TypeID===Order.typeIDcode.poor" class="text share-text" data-tap-disabled="true">
							{{order.LinkUrl}}
						</p>
						<div ng-if="order.TypeID===Order.typeIDcode.rich" ng-init="files=order.AttachFiles">
							<div class="row  " ng-repeat="i in  getArr( Math.ceil( files.length/3 ) ) track by $index">

								<div class="col col-33" ng-repeat="item in  files  | limitTo : 3 : i*3  track by $index" ng-init="k=$index">

									<div style="height: 100px;background-color: #CCC;line-height: 100px;" ng-click="bigIMG(files[k+i*3])">
										<img width="100%" height="auto" ng-src="{{files[k+i*3]}}" data-tap-disabled="true" style="max-height: 100%;vertical-align: middle;" />
									</div>

								</div>

							</div>

						</div>
					</div>

				</ion-content>

			</ion-view>
		