
			<ion-view view-title="Invitation">

				<ion-content style="background-color:  #EEEEEE">

					<div class="row" style="text-align: center;">
						<div class="col col-50">

							<button ng-click="openModal('explain0.html','邀请好友说明')" class="button button-block  button-outline button-assertive">邀请好友说明</button>
						</div>
						<div class="col col-50">
							<button ng-click="openModal('explain1.html','邀请好友攻略')" class="button button-block button-outline button-assertive">邀请好友攻略</button>
						</div>
					</div>
					<div>
						<button ng-click="invitedByScan()" class="button button-block  button-outline button-assertive">加入扫一扫</button>
					</div>
					<div class="simple-contain">
						我的邀请好友网址(邀好友奖0.00元/人):
						<br />
						<span id="">
	http://www.baidu.com
</span>

						<h4>好友每次赚钱你都会得到5%额外奖励</h4>
					</div>

					<div class="row piecef">
						<div class="col col-50">
							<div>
								<h4>一度好友</h4> 0人
								<br /> 广告佣金
								<br /> 奖励0.00元/人
							</div>

						</div>
						<div class="col col-50">
							<div>
								<h4>一度好友</h4> 0人
								<br /> 广告佣金
								<br /> 奖励0.00元/人
							</div>
						</div>
					</div>
					<div class="row piecef">
						<div class="col col-50">
							<div>
								<h4>一度好友</h4> 0人
								<br /> 广告佣金
								<br /> 奖励0.00元/人
							</div>
						</div>
						<div class="col col-50">

							<div>
								<h4>收入明细</h4> 今日收入:0元
								<br /> 本月收入:0元
								<br /> 总收入:0元
							</div>
						</div>
					</div>

					<div class="row" style="text-align: center;">
						<div class="col ">
							<button class="button button-block  button-outline button-assertive">牛人赚钱排行榜</button>
						</div>

					</div>
				</ion-content>

			</ion-view>

		